<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skillshub"
        tools:targetApi="31">
        <activity
            android:name=".Schedule"
            android:exported="true" />
        <activity
            android:name=".Shedule"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".welcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduction"
            android:exported="false" />
        <activity android:name=".WorkerProfile"
            android:exported="true" />

        <activity
            android:name=".clientHome"
            android:exported="true" />
        <activity
            android:name=".ChooseUserActivity"
            android:exported="true" />
        <activity
            android:name=".ClientProfileActivity"
            android:exported="true" />
        <activity
            android:name=".signupform.AuthenticateActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Admin"
            android:exported="true" />
        <activity
            android:name=".WorkerHome"
            android:exported="true" />
        <activity
            android:name=".signupform.RegistrationControlActivity"
            android:exported="false" />
        <activity
            android:name=".clientHome2"
            android:exported="false" />
        <activity
            android:name=".clientHome3"
            android:exported="false" />
        <activity
            android:name=".clientHome4"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".WorkerProfileView"
            android:exported="true" />
        <activity
            android:name=".FilterActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.skillshub.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>